# YMl file.
---
spring:
  profiles: DEV
lucky-word: California
eureka: 
  client:
    serviceUrl:
      defaultZone: ${vcap.services.eureka-service.credentials.uri:http://127.0.0.1:8761}/eureka/

---
spring:
  profiles: QA 
lucky-word: New York
eureka: 
  client:
    serviceUrl:
      defaultZone: ${vcap.services.eureka-service.credentials.uri:http://127.0.0.1:8761}/eureka/
      
---
spring:
  profiles: PROD 
lucky-word: Minnesota
eureka: 
  client:
    serviceUrl:
      defaultZone: ${vcap.services.eureka-service.credentials.uri:http://127.0.0.1:8761}/eureka/
